.l-cabecalho {
   height: 60px;
   border-bottom: 1px solid #cccccc;

   background-color: #fff;
 }

 .l-cabecalho--home {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 99999;
 }
 
 .l-cabecalho img {
   margin-top: 12px;
 }
 .l-planos {
   padding: 80px 0;
 }
.l-chamada {
  padding: 80px 0;
  margin-top: 60px;
  
  background-color: #7ab55c;

}
.l-depoimento {
  padding: 80px 0;
  background-color: #e7e7e7;
}

.l-rodape {
  padding: 40px 0;

  background-color: #484848;
  color: #fff;

  text-align: center;
}